

html, body{
    font-family: 'lusitana', serif; 
    background-color:rgb(221, 188, 139);
    padding:70px;
}
 .container {
 background-color:white;
 align-items:center;
 width: 20px;
 padding: 20px;
 margin: 50px;
 text-align:center;
 border-radius: 5px;
 box-sizing: border-box;
 


}




